<div class="panel panel-default">
	<div class="panel-heading" style="font-size: 24px;">
		<span style="color:#235064;"><strong>Edit Reminder</strong></span>
	</div>
	<div class="panel-body">
		<%= form_for :reminder, url: "/reminders/#{@reminder.id}/edit", method: :patch do |f| %>

			<div class="form-group">
				<%= ApplicationHelper.f_label "Title" %>
				<%= f.text_field :title, placeholder: "Title", class: "form-control", style: "width: 500px;" %>
			</div>

			<div class="form-group">
				<%= ApplicationHelper.f_label "Description" %>
				<%= f.text_area :description, placeholder: "Description", class: "form-control", style: "width: 500px; height: 200px;" %>
			</div>

			<div class="form-group">
				<%= ApplicationHelper.f_label "Time" %><br>
				<%= f.datetime_select :time, {:start_year => Date.today.year, :end_year => Date.today.year + 4}, {:class => "form-control", style:"display: inline; width: auto;"} %>
			</div>

      <div class="checkbox">
  			<%= f.check_box :reminded %>
  			Has been reminded. An email will be resent if you uncheck this checkbox. No email will be sent if you check it.
  		</div>

			<%= f.submit :class => "btn btn-primary" %>

		<% end %>
	</div>
</div>
