<% textfield_id = "message_edit" %>

<script type="text/javascript">
	var current_color = "000000";
	
	function update_color(picker)
	{
		current_color = picker.toString();
		$('#nysmnyd').css('color', '#{0}'.f(current_color));
		// This means Now You See Mee Now You Don't, and yes that's a film's name
	}
</script>

<div style="padding: 0 0 10px 0;">
	<div class="btn-group">
		<button class="btn btn-default" type="button" style="font-size:16px;" onclick="cursor_insert('[b]', '[/b]', '<%= textfield_id %>');"><strong style="font-weight: bolder;">B</strong></button>
		<button class="btn btn-default" type="button" style="font-size:16px;" onclick="cursor_insert('[i]', '[/i]', '<%= textfield_id %>');"><strong><i>I</i></strong></button>
		<button class="btn btn-default" type="button" style="font-size:16px;" onclick="cursor_insert('[u]', '[/u]', '<%= textfield_id %>');"><strong><u>U</u></strong></button>
		<button class="btn btn-default" type="button" style="font-size:16px;" onclick="cursor_insert('[s]', '[/s]', '<%= textfield_id %>');"><strong><strike>S</strike></strong></button>
	</div>
	<div class="btn-group">
		<button class="btn btn-default" type="button" style="font-size:16px;" onclick="cursor_insert('[url]', '[/url]', '<%= textfield_id %>');"><strong>URL</strong></button>
		<button class="btn btn-default" type="button" style="font-size:16px;" onclick="cursor_insert('[spoiler]', '[/spoiler]', '<%= textfield_id %>');"><strong>Spoiler</strong></button>
		<button class="btn btn-default" type="button" style="font-size:16px;" onclick="cursor_insert('[code]', '[/code]', '<%= textfield_id %>');"><strong>Code</strong></button>
		<button class="btn btn-default" type="button" style="font-size:16px;" onclick="cursor_insert('[color={0}]'.f('#' + current_color), '[/color]', '<%= textfield_id %>');"><strong>Color</strong></button>
	</div>
	<button class="btn jscolor {valueElement:null, value:'000000', onFineChange:'update_color(this);'}"><strong id="nysmnyd" style="color: #000000">Col</strong></button>
</div>