<% $MAX_SUBJECTS_PER_SUBFORUM = 5 %>
<ol class="breadcrumb" style="font-size:28px;">
	<li class="active" style="color:#235064;"><strong>Forum</strong></li>
</ol>

<% Subforum.all.each do |subforum| %>
	<div class="panel panel-default">
		<div class="panel-heading" style="font-size: 24px;">
			<span style="color:#235064;"><strong><%= link_to subforum.title, "/forum/" + subforum.id.to_s %></strong></span>
		</div>
		<div class="panel-body">
			<span style="font-size: 16px;"><i><%= subforum.description %></i></span>
			<table class="table table-bordered" style="background-color: #FFFFFF; border-radius: 20px; margin-top: 20px;">
				<tr style="background-color: #0095b6;">
					<th>Subject</th>
					<th>Author</th>
					<th>Repl.</th>
				</tr>
				
				<% i = 0 %>
				<% subforum.subjects.each do |s| %>
					<% if i >= $MAX_SUBJECTS_PER_SUBFORUM %>
						<tr>
							<td>...</td>
							<td>...</td>
							<td>...</td>
						</tr>
						<% break %>
					<% end %>
					<tr>
						<td><%= link_to s.title, "/forum/subjects/#{s.id}" %></td>
						<td><%= User.find(s.forum_messages[0].author_id).display_name %></td>
						<td><%= s.forum_messages.count - 1 %></td>
					</tr>
					<% i += 1 %>
				<% end %>
			</table>
		</div>
	</div>
<% end %>
