<% if @subject == nil then @subject = Subject.find(params[:subject_id]) end %>

<ol class="breadcrumb" style="font-size:18px;">
	<li><a href="/forum">Forum</a></li>
	<li><%= link_to @subject.subforum.title, "/forum/" + @subject.subforum.id.to_s %></li>
	<li><%= link_to @subject.title, "/forum/subjects/" + @subject.id.to_s %></strong></li>
	<li class="active" style="color:#235064"><strong>New Message</strong></li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading" style="font-size:22px">
		<span style="color:#235064;"><strong><%= @subject.title %></strong></span>
	</div>
	<div class="panel-body">
		<%= render "render_toolbar" %>
		<%= form_for @forum_message, url: {action:"create_message"} do |f| %>

			<% if @forum_message.errors.any? %>
				<div id="error_explanation">
					<h2>
						<%= pluralize(@forum_message.errors.count, "error") %> made you unable to post this message:
					</h2>
					
					<ul>
						<% @forum_message.errors.full_messages.each do |err| %>
							<li><%= err %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="form-group">
				<%= f.text_area :text, :class => "form-control", :style => "height: 200px", :placeholder => "Message", :id => "message_edit" %>
			</div>
			
			<%= f.submit :class => "btn btn-primary", :style => "margin: 0 0 60px 0;" %>
			
		<% end %>

		<%= render "show_messages" %>
	</div>
</div>