<% if @subforum == nil then @subforum = Subforum.find(params[:id]) end %>

<ol class="breadcrumb" style="font-size:18px;">
	<li><a href="/forum">Forum</a></li>
	<li><%= link_to @subforum.title, "/forum/" + @subforum.id.to_s %></li>
	<li class="active" style="color:#235064;"><strong>New Subject</strong></li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading" style="font-size: 24px;">
		<span class="active" style="color:#235064;"><strong><%= @subforum.title %></strong></span>
	</div>
	<div class="panel-body">
		<span style="font-size: 16px;"><i><%= @subforum.description %></i></span>
		<br/><br/>
		<%= form_tag action:"create_subject" do %>
			
			<% if @subject.errors.any? %>
				<div id="error_explanation">
					<h2>
						<%= pluralize(@subject.errors.count, "error") %> made you unable to create a new subject:
					</h2>
					
					<ul>
						<% @subject.errors.full_messages.each do |err| %>
							<li><%= err %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			
			<div class="form-group">
				<%= label_tag :title %><br/>
				<%= text_field_tag :title, "", class: "form-control" %>
			</div>
			
			<%= render "render_toolbar" %>
			<div class="form-group">
				<%= text_area_tag :message_text, "", class: "form-control", style: "height: 200px", id: "message_edit" %>
			</div>
			
			<%= submit_tag "Create New Subject", class: "btn btn-primary" %>
			
		<% end %>
	</div>
</div>