<h1>Login</h1>

<%= form_tag(:action => "login_attempt") do %>

	<% if not @login_error.nil? %>
		<%= @login_error %>
	<% end %>

	<div class="form-group">
		<%= label_tag "Username or email" %><br/>
		<%= text_field_tag :username_or_email, "", class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= label_tag "Password" %><br/>
		<%= password_field_tag :login_password, "", class: "form-control" %>
	</div>
	
	<%= submit_tag "Log In", class: "btn btn-primary" %>
	
<% end %>
