<% require "application_helper" %>
<% require "users_helper" %>

<div class="panel panel-default">
	<div class="panel-heading" style="font-size:24px;">
		<strong>Forum</strong>
	</div>
	<div class="panel-body">
		<!--<div class="subjects-heading">
			<div class="text">Welcome to the forum!</div>
		</div>-->
		<table class="subjects-table">
			<thead>
				<tr>
					<th colspan="4" style="text-align: center; padding: 10px 0 10px 0;">There are <%= pluralize(Subject.count, "subject") %> in the forum.</th>
				</tr>
			</thead>
			<tbody>
				<% 	def to_i(bool)
						if bool
							return 1
						else
							return 0
						end
					end %>
				<% @subjects.each do |s| %>
					<% fm = s.forum_messages %><!-- To avoid those 100ths of SQL requests -->
					<% last_msg = fm.last %>
					<% first_msg = fm.first %>
					<tr>
						<td>
							<% if @current_user && @current_user.last_forum_visit < last_msg.created_at %>
								<center><span class="new-message" title="New!"></span></center>
								<% preformat = "<strong>" %>
								<% postformat = "</strong>" %>
							<% else %>
								<% preformat = "" %>
								<% postformat = "" %>
							<% end %>
						</td>
						<td>
							<h5>
								<%= preformat.html_safe %>
								<!-- Pinned? -->
								<% if s.pinned? %>
									<%= "<span title=\"Pinned\" class = \"icon-pinned-little\"></span> ".html_safe %>
								<% end %>
								<a href="/subjects/<%= s.id %>"><%= s.title %></a>
								<%= postformat.html_safe %>
							</h5>
						</td>
						<td><%= pluralize(fm.length - 1, "reply") %></td>
						<td><%= UsersHelper.display_name(last_msg.user) %></td>
					</tr>
					<tr>
						<td></td>
						<td><span>By <%= UsersHelper.display_name(first_msg.user) %>, the <%= ApplicationHelper.datetime_to_s(first_msg.created_at) %></span></td>
						<td><span><%= pluralize(s.views, "view" )%></span></td>
						<td><a href="/subjects/<%= s.id %>?page=last">The <%= ApplicationHelper.datetime_to_s(last_msg.created_at) %></a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
		<% if session[:user_id] %>
			<center><%= link_to "New Subject", "/subjects/new", class: "btn btn-lg btn-primary btn-gray", style: "margin: 20px 0 0 0;" %></center>
		<% end %>
		
		<!-- Pagination -->
		<center><%= will_paginate @subjects %></center>
	</div>
</div>