<!DOCTYPE html>
<html>
	<head>
		<title>BeOI Training</title>
		<meta charset="UTF-8">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= favicon_link_tag %>

		<link href="/prettify/cavelight.css" type="text/css" rel="stylesheet" />
		<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<style>
			li.L0, li.L1, li.L2, li.L3,
			li.L5, li.L6, li.L7, li.L8
			{
				list-style-type: decimal !important
			}
		</style>
	</head>

	<body>
		<%= render "shared/navbar" %>
		<div class="container">
			<%= render "shared/errors" %>
			<%= render "shared/info" %>
			<%= render "shared/success" %>
			<%= yield %>
			<%= render "shared/footer" %>
		</div>
	</body>
</html>
