<!DOCTYPE html>
<html>
	<head>
		<title>BeOI Training</title>
		<meta charset="UTF-8">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= favicon_link_tag %>

		<link href="/prettify/cavelight.css" type="text/css" rel="stylesheet" />
		<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				extensions: ["tex2jax.js", "Safe.js"],
				Tex: {
					extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
				},
				tex2jax: {
					inlineMath: [['$','$'], ['\\(','\\)']],
					processEscapes: true // Allow \$ for a literal $
				},
				jax: ["input/TeX", "output/HTML-CSS"],
				messageStyle: "none",
				showMathMenu: false,
				skipStartupTypeset: true
			});
		</script>
		<script async type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>

		<style>
		li.L0, li.L1, li.L2, li.L3,
		li.L5, li.L6, li.L7, li.L8
		{
			list-style-type: decimal !important
		}
		</style>
	</head>

	<body>
		<!-- Parse BBCode and LaTeX on page load -->
		<script type="text/javascript">
			$(function()
			{
				BBCodeParser.parse_on_page();
				PreviewBuffer.parse_on_page();
			});
		</script>

		<div class="container">
			<%= render "shared/navbar" %>
			<%= render "shared/errors" %>
			<%= render "shared/info" %>
			<%= render "shared/success" %>
			<%= yield %>
			<%= render "shared/footer" %>
		</div>
	</body>
</html>
